<div class="flex justify-center" style="max-height: 90vh;">
  <div class=" container p-6 overflow-scroll px-0">
    <div class="flex justify-between items-center">
      <h1 class="text-2xl font-sans font-bold text-blue-gray-900">Surveilles</h1>
      <button (click)="addSurveille()" class="p-4 bg-color-yellow text-white rounded-md">Add Surveille</button>
    </div>
    <table class="mt-4 w-full min-w-max table-auto text-left">
      <thead>
      <tr>
        <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
          <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Surveille</p>
        </th>
        <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
          <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Code</p>
        </th>
        <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
          <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Filiere</p>
        </th>
        <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
          <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Enseignant</p>
        </th>
        <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
          <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Actions</p>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let surveille of surveilles">
        <td class="p-4 border-b border-blue-gray-50">
          <div class="w-max">
            <div class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal" style="opacity: 1;">
              <span>{{ surveille.nom }}</span>
            </div>
          </div>
        </td>
        <td class="p-4 border-b border-blue-gray-50">
          <div class="w-max">
            <div class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal" style="opacity: 1;">
              <span>{{ surveille.code }}</span>
            </div>
          </div>
        </td>
        <td class="p-4 border-b border-blue-gray-50">
          <div class="flex items-center gap-3">
            <div class="flex flex-col">
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{surveille.groupe?.filiere?.nom}}</p>
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">Groupe Numero: {{surveille.groupe?.id}} | Nombre des Etudiants{{surveille.groupe?.nbrEtudiant}}</p>
            </div>
          </div>
        </td>
        <td class="p-4 border-b border-blue-gray-50">
          <div class="w-max">
            <div class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal" style="opacity: 1;">
              <span>{{ surveille.enseignant?.nom }} {{ surveille.enseignant?.prenom }}</span>
            </div>
          </div>
        </td>
        <td class="p-4 border-b border-blue-gray-50">
          <button (click)="deleteSurveille(surveille)" class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30" type="button">
              <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2" title="delete">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-4 w-4">
                  <path d="M3.5 6.5v13a1 1 0 001 1h14a1 1 0 001-1v-13h-16zm2 1h12v12h-12v-12zm5 3a1 1 0 011 1v6a1 1 0 01-2 0v-6a1 1 0 011-1zm4 0a1 1 0 011 1v6a1 1 0 01-2 0v-6a1 1 0 011-1z"></path>
                </svg>
              </span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="addSurveille" style="display: none">
    <span (click)="hideForm()"><button>X</button></span>
    <form [formGroup]="formAddSurveille">
      <div class="flex flex-col gap-4 p-6">
        <div class="flex flex-col gap-2">
          <label for="nomAdd" class="text-sm font-sans font-normal text-blue-gray-900">Nom</label>
          <input type="text"  formControlName="nom" id="nomAdd" name="nom" class="p-4 border border-blue-gray-200 rounded-md">
        </div>
        <div class="flex flex-col gap-2">
          <label for="codeAdd" class="text-sm font-sans font-normal text-blue-gray-900">Code</label>
          <input type="text"  formControlName="code" id="codeAdd" name="code" class="p-4 border border-blue-gray-200 rounded-md">
        </div>
        <div class="flex flex-col gap-2">
          <label for="enseignantIdAdd" class="text-sm font-sans font-normal text-blue-gray-900">Enseignant</label>
          <select formControlName="enseignantId" id="enseignantIdAdd" name="enseignantId" class="p-4 border border-blue-gray-200 rounded-md">
            <option value="" selected disabled>Select Enseignant</option>
            <option *ngFor="let enseignant of enseignants" value="{{enseignant.id}}">{{enseignant.nom}} {{enseignant.prenom}}</option>
          </select>
        </div>
        <div class="flex flex-col gap-2">
          <label for="groupeIdAdd" class="text-sm font-sans font-normal text-blue-gray-900">Groupe</label>
          <select formControlName="groupeId" id="groupeIdAdd" name="groupeId" class="p-4 border border-blue-gray-200 rounded-md">
            <option value="" selected disabled>Select Enseignant</option>
            <option *ngFor="let groupe of groupes" value="{{groupe.id}}">Groupe {{groupe.id}} | nombre des etudiant: {{groupe.nbrEtudiant}}</option>
          </select>
        </div>
        <div class="flex flex-col gap-2">
          <button (click)="AddSaveSurveille()" type="submit" class="p-4 bg-blue-500 text-white rounded-md">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
