<div class="flex justify-center" style="max-height: 90vh;">
  <div class=" container p-6 overflow-scroll px-0">
    <div class="flex justify-between items-center w-full">
      <h3 class="text-2xl font-sans text-blue-gray-900">
        Filiere: {{filiereModules.nom}} | Specialite: {{filiereModules.specialite}} | Niveau: {{filiereModules.niveau}} | Nombre Modules: {{filiereModules.modules?.length}} Modules
      </h3>
    </div>
    <table class="mt-4 w-full min-w-max table-auto text-left">
      <thead>
        <tr>
          <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
            <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Module</p>
          </th>
          <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
            <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Order</p>
          </th>
          <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
            <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Actions</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let module of filiereModules.modules" >
          <td class="p-4 border-b border-blue-gray-50">
            <div class="flex items-center gap-3">
              <div class="flex flex-col">
                <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{module.nom}}</p>
                <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">{{module.semester}}</p>
              </div>
            </div>
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            <div class="w-max">
              <div class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal" style="opacity: 1;">
                <span>{{ module.order }}</span>
              </div>
            </div>
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            <button (click)="editModule(module)" class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30" type="button">
                    <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2" title="edit">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-4 w-4">
                        <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"></path>
                      </svg>
                    </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="editeModule" style="display: none">
    <span (click)="hideForm()"><button>X</button></span>
    <form [formGroup]="formEditModule">
      <input type="hidden" name="id" formControlName="id" id="idEdit">
      <input type="hidden" formControlName="nom" id="nomEdit" name="nom">
      <input type="hidden" formControlName="semester" id="semesterEdit" name="semester">
      <div class="flex flex-col gap-4 p-6">
        <div class="flex flex-col gap-2">
          <label for="orderEdit" class="text-sm font-sans font-normal text-blue-gray-900">Order</label>
          <input type="number" formControlName="order" id="orderEdit" name="order" class="p-4 border border-blue-gray-200 rounded-md">
        </div>
        <div class="flex flex-col gap-2">
          <button (click)="updateModule()" type="submit" class="p-4 bg-blue-500 text-white rounded-md">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
