<div class="flex justify-center" style="max-height: 90vh;">
  <div class=" container p-6 overflow-scroll px-0">
    <div class="flex justify-between items-center">
      <h1 class="text-2xl font-sans font-bold text-blue-gray-900">Salles</h1>
      <button (click)="addSalle()" class="p-4 bg-color-yellow text-white rounded-md">Add Salle</button>
    </div>
    <table class="mt-4 w-full min-w-max table-auto text-left">
      <thead>
      <tr>
        <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
          <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Salle</p>
        </th>
        <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
          <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Pass Examen</p>
        </th>
        <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
          <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Surveille</p>
        </th>
        <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
          <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Actions</p>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let salle of salles">

        <td class="p-4 border-b border-blue-gray-50">
          <div class="flex items-center gap-3">
            <div class="flex flex-col">
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">Numero De Salle: {{salle.numero_salle}}</p>
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">Type: {{salle.type_salle}} | Capacite: {{salle.capacite}}</p>
            </div>
          </div>
        </td>

        <td class="p-4 border-b border-blue-gray-50">
          <div class="flex items-center gap-3">
            <div class="flex flex-col">
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">Filiere: {{salle.surveille?.groupe?.filiere?.nom}} | Module: {{salle.passExamen?.modules?.nom}}</p>
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">Date: {{salle.passExamen?.date}}</p>
            </div>
          </div>
        </td>

        <td class="p-4 border-b border-blue-gray-50">
          <div class="flex items-center gap-3">
            <div class="flex flex-col">
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">Enseignant: {{salle.surveille?.enseignant?.nom}} {{salle.surveille?.enseignant?.prenom}}</p>
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">Groupe Numero: {{salle.surveille?.groupe?.id}} | Nombre Des Etudiant Dans Groupe: {{salle.surveille?.groupe?.nbrEtudiant}}</p>
            </div>
          </div>
        </td>

        <td class="p-4 border-b border-blue-gray-50">
          <button (click)="deleteSalle(salle)" class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30" type="button">
              <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2" title="delete">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-4 w-4">
                  <path d="M3.5 6.5v13a1 1 0 001 1h14a1 1 0 001-1v-13h-16zm2 1h12v12h-12v-12zm5 3a1 1 0 011 1v6a1 1 0 01-2 0v-6a1 1 0 011-1zm4 0a1 1 0 011 1v6a1 1 0 01-2 0v-6a1 1 0 011-1z"></path>
                </svg>
              </span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="addSalle" style="display: none">
    <span (click)="hideForm()"><button>X</button></span>
    <form [formGroup]="formAddSalle">
      <div class="flex flex-col gap-4 p-6">
        <div class="flex flex-col gap-2">
          <label for="numero_salleAdd" class="text-sm font-sans font-normal text-blue-gray-900">Numero Salle</label>
          <input type="number"  formControlName="numero_salle" id="numero_salleAdd" name="numero_salle" class="p-4 border border-blue-gray-200 rounded-md">
        </div>
        <div class="flex flex-col gap-2">
          <label for="type_salleAdd" class="text-sm font-sans font-normal text-blue-gray-900">Type Salle</label>
          <select formControlName="type_salle" id="type_salleAdd" name="type_salle" class="p-4 border border-blue-gray-200 rounded-md">
            <option value="" selected disabled>Select Type Salle</option>
            <option value="{{TypeSalle.AMPHI}}">Amphi</option>
            <option value="{{TypeSalle.TD}}">TD</option>
            <option value="{{TypeSalle.TP}}">TP</option>
          </select>
        </div>
        <div class="flex flex-col gap-2">
          <label for="capaciteAdd" class="text-sm font-sans font-normal text-blue-gray-900">Capacite</label>
          <input type="number"  formControlName="capacite" id="capaciteAdd" name="capacite" class="p-4 border border-blue-gray-200 rounded-md">
        </div>
        <div class="flex flex-col gap-2">
          <label for="passExamenIdAdd" class="text-sm font-sans font-normal text-blue-gray-900">Pass Examen</label>
          <select formControlName="passExamenId" id="passExamenIdAdd" name="passExamenId" class="p-4 border border-blue-gray-200 rounded-md">
            <option value="" selected disabled>Select Pass Examen</option>
            <option *ngFor="let passExamen of passExamens" value="{{passExamen.id}}">Module {{passExamen.modules?.nom}} | Date: {{passExamen.date}}</option>
          </select>
        </div>
        <div class="flex flex-col gap-2">
          <label for="surveilleIdAdd" class="text-sm font-sans font-normal text-blue-gray-900">Surveille</label>
          <select formControlName="surveilleId" id="surveilleIdAdd" name="surveilleId" class="p-4 border border-blue-gray-200 rounded-md">
            <option value="" selected disabled>Select Pass Examen</option>
            <option *ngFor="let surveille of surveilles" value="{{surveille.id}}">Module {{surveille.nom}}</option>
          </select>
        </div>
        <div class="flex flex-col gap-2">
          <button (click)="AddSaveSalle()" type="submit" class="p-4 bg-blue-500 text-white rounded-md">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
