#addGroupe{
  position: absolute;
  z-index: 1;
  background-color: #e4c238;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 100vw;
}
#addGroupe input{
  color: #e4c238;
}
#addGroupe span{
  color: #e4c238;
  background-color: #e5e7eb;
  border-radius: 100%;
}
